*{
  margin:auto;
  padding: 0;
}
.container {
  margin: auto;
  width: 50%;
/*  height: 800px;
  background-color: blue;*/

}
.product{
  display: inline-block;
  /*width: 200px;
  height: 200px;
  background-color: yellow;*/
  /*position: absolute;*/
  margin-left: 5px;
  margin-top: 20px;
  position: relative;
}
.product .off{
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  height: auto;
  background-color: green;
}
.product:nth-child(even) .off {
  background-color: red;
}
.product .heart{
  display: none;
  position: absolute;
  bottom: 10px;
  left: 0%;
  font-size: 35px;
  /*display: inline-block;*/
  text-align: center;
  width: 100%;
  color: red;
}
.product:hover .heart{
  display: block;
}

section:hover .product{
  cursor:pointer;
}
