*{
  margin:auto;
  padding: 0;
}
.container {
  width: 1000px;
  height: 800px;
  margin: auto;
  background-color: blue;

}
.product{
  display: inline-block;
  /*width: 200px;
  height: 200px;
  background-color: yellow;*/
  /*position: absolute;*/
  margin-left: 5px;
  margin-top: 20px;
  position: relative;
}
.off{
  position: absolute;
  right: 0;
  top: 0;
}
