*{
  margin:auto;
  padding: 0;
}
.container {
  width: 1000px;
  height: 800px;
  margin: auto;
  background-color: blue;
  position: relative;
}
.product{
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: yellow;
  position: absolute;
}
